# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
emcee
matplotlib
numpy
pandas
pip
setuptools
subprocess32
pytest
pytest-html
pytest-cov
