{"input": "TestOut.tmp", "WorkDir": "./Testing/", "NamdPath": "PATH/TO/namd3", "NumCores": 1, "JobType": "TEST", "verbose": 1, "DryRun": true, "UmbrellaMin": 1, "UmbrellaWidth": 1, "UmbrellaBins": 10, "PullForce": 1, "Force": 1, "StartDistance": 1, "AtomMask": "Comma,Separated,Atom,Index", "QmSelection": "resname RESIDUES", "QmCharge": 1, "QmSpin": 1, "QmMethod": "Functional", "QmBasis": "BasisSet", "QmPath": "PATH/TO/orca", "WhamFile": "FileToPerformWHAM"}
