,Name,Window,Data
0,testbond,1,1.0
1,testbond,1,2.0
2,testbond,1,3.0
3,testbond,1,4.0
4,testbond,1,5.0
0,testdihedral,1,1.0
1,testdihedral,1,2.0
2,testdihedral,1,3.0
3,testdihedral,1,4.0
4,testdihedral,1,5.0
