( mkdir /dev/shm/NAMD_0 ; cd ./0 ; NAMDPATHCPU equil_1.conf > equil_1.0.out ; cd ../ ; rm -r /dev/shm/NAMD_0 ) &
( mkdir /dev/shm/NAMD_1 ; cd ./1 ; NAMDPATHCPU equil_1.conf > equil_1.1.out ; cd ../ ; rm -r /dev/shm/NAMD_1 ) &
( mkdir /dev/shm/NAMD_2 ; cd ./2 ; NAMDPATHCPU equil_1.conf > equil_1.2.out ; cd ../ ; rm -r /dev/shm/NAMD_2 ) &
( mkdir /dev/shm/NAMD_3 ; cd ./3 ; NAMDPATHCPU equil_1.conf > equil_1.3.out ; cd ../ ; rm -r /dev/shm/NAMD_3 ) &
( mkdir /dev/shm/NAMD_4 ; cd ./4 ; NAMDPATHCPU equil_1.conf > equil_1.4.out ; cd ../ ; rm -r /dev/shm/NAMD_4 ) &
( mkdir /dev/shm/NAMD_5 ; cd ./5 ; NAMDPATHCPU equil_1.conf > equil_1.5.out ; cd ../ ; rm -r /dev/shm/NAMD_5 ) &
( mkdir /dev/shm/NAMD_6 ; cd ./6 ; NAMDPATHCPU equil_1.conf > equil_1.6.out ; cd ../ ; rm -r /dev/shm/NAMD_6 ) &
( mkdir /dev/shm/NAMD_7 ; cd ./7 ; NAMDPATHCPU equil_1.conf > equil_1.7.out ; cd ../ ; rm -r /dev/shm/NAMD_7 ) &
( mkdir /dev/shm/NAMD_8 ; cd ./8 ; NAMDPATHCPU equil_1.conf > equil_1.8.out ; cd ../ ; rm -r /dev/shm/NAMD_8 ) &
( mkdir /dev/shm/NAMD_9 ; cd ./9 ; NAMDPATHCPU equil_1.conf > equil_1.9.out ; cd ../ ; rm -r /dev/shm/NAMD_9 ) &
