### pybrella equil input file 
# File options:
parmfile            ../complex.parm7
ambercoor           ../start.rst7
bincoordinates      pull_1.0.restart.coor
DCDfile             equil_1.0.dcd
DCDfreq             80
restartname         equil_1.0.restart
restartfreq         100
outputname          equil_1.0
outputTiming        100
outputEnergies      1

# Calculation options:
amber               on
switching           off
exclude             scaled1-4
1-4scaling          0.833333333
scnb                2.0
readexclusions      yes
cutoff              8.0
watermodel          tip3
pairListdist        11
LJcorrection        on
ZeroMomentum        off
rigidBonds          none
rigidTolerance      1.0e-8
rigidIterations     100
timeStep            0.5
fullElectFrequency  1
nonBondedFreq       1
stepspercycle       10


# PME options:
PME                 off
PMEGridSizeX        300
PMEGridSizeY        300
PMEGridSizeZ        300
PMETolerance        1.0e-6
PMEInterpOrder      4

# Cell options:
cellBasisVector1    150.2205127 0.0 0.0
cellBasisVector2    -50.07350423333333 141.6292576046532 0.0
cellBasisVector3    -50.07350423333333 -70.8146288023266 -122.65453500476004
cellOrigin          0 0 0

# Temperature options:
langevin            on
langevinDamping     5
langevinTemp        300
langevinHydrogen    off
temperature         300


# Pressure options:
BerendsenPressure   off

# QMMM options:
qmForces            on

            qmParamPDB              "../syst-qm.pdb"
            qmColumn                "beta"
            qmBondColumn            "occ"
            QMsimsPerNode           1
            QMElecEmbed             on
            QMSwitching             on
            QMSwitchingType         shift
            QMPointChargeScheme     round
            QMBondScheme            "cs"
            qmBaseDir               "/dev/shm/RUNDIR_0"
            qmConfigLine            "! FUNCTIONAL BASIS EnGrad D3BJ"
            qmConfigLine            "%%output PrintLevel Mini Print\[ P_Mulliken \] 1 Print\[P_AtCharges_M\] 1 end"
            qmConfigLine            "%PAL NPROCS 1 END"
            qmMult                  "1 1"
            qmCharge                "1 1"
            qmSoftware              "orca"
            qmExecPath              "ORCAPATH"
            QMOutStride             1
            qmEnergyStride          1
            QMPositionOutStride     1

            
#CUDAFAST

# Colvar options:
colvars         on
colvarsConfig   colvars.const.conf


run                 2000

