#!/bin/bash
mkdir /dev/shm/NAMD_1 ; cd ./1 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.1.out ; cd ../ ; rm -r /dev/shm/NAMD_1
mkdir /dev/shm/NAMD_2 ; cd ./2 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.2.out ; cd ../ ; rm -r /dev/shm/NAMD_2
mkdir /dev/shm/NAMD_3 ; cd ./3 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.3.out ; cd ../ ; rm -r /dev/shm/NAMD_3
mkdir /dev/shm/NAMD_4 ; cd ./4 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.4.out ; cd ../ ; rm -r /dev/shm/NAMD_4
mkdir /dev/shm/NAMD_5 ; cd ./5 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.5.out ; cd ../ ; rm -r /dev/shm/NAMD_5
mkdir /dev/shm/NAMD_6 ; cd ./6 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.6.out ; cd ../ ; rm -r /dev/shm/NAMD_6
mkdir /dev/shm/NAMD_7 ; cd ./7 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.7.out ; cd ../ ; rm -r /dev/shm/NAMD_7
mkdir /dev/shm/NAMD_8 ; cd ./8 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.8.out ; cd ../ ; rm -r /dev/shm/NAMD_8
mkdir /dev/shm/NAMD_9 ; cd ./9 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.9.out ; cd ../ ; rm -r /dev/shm/NAMD_9
mkdir /dev/shm/NAMD_0 ; cd ./0 ; /home/pcyra2/Software/NAMD/NAMD_3.0b4_Linux-x86_64-multicore/namd3 pull.conf > pull_1.0.out ; cd ../ ; rm -r /dev/shm/NAMD_0
